* {
  margin: 0;
  padding: 0;
}

.fundo {
  background-color: #181818;
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.calculadora {
  position: absolute;
  background-color: #4d4d4d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  margin: 2px;
}

button:hover {
  background-color: black;
}

#zeroBtn {
  width: 106px;
}

#igualBtn {
  height: 106px;
}

#resultado {
  width: 92%;
  background-color: white;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
}
